<section class="image_font">
  <section fxLayout="row" fxLayoutAlign="space-evenly center">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)"
      fxLayout="column"
      fxLayoutAlign="center center"
      flexLayoutGap="10px">
      <img class="logo" [src]="loadLogo()" alt="">
      <hr>
      <mat-form-field>
        <input #username matInput type="text" 
          placeholder="Usuario" 
          id="username" 
          ngModel 
          name="username" 
          #usrname="ngModel"
          required>
        <mat-error *ngIf="usrname.hasError('required')">No debe estar vacío</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #password matInput type="password" 
          placeholder="Contraseña"
          id="password"
          ngModel
          name="password"
          required>
        <mat-error>No debe estar vacío</mat-error>
      </mat-form-field>
      <hr>
      <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Entrar</button>
      <hr>
      <h1>{{ usrname.value === '' ? '': 'Hola '+usrname.value }}</h1>
    </form> 
    <img class="font-2" [src]="loadFont2()" fxHide.xs>
  </section>
</section>