mat-form-field{
    width: 300px;
}
.image_font{
    background-image: url('../../assets/images/font.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: stretch;
}
.font-2{
    width: 20%;
    height: 20%;
    border-radius: 10px;
}
.logo{
    width: 300px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
}