
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item routerLink="/">
                <mat-icon>home</mat-icon>
                <span class="nav-caption">Inicio</span>
            </a>
            <a mat-list-item routerLink="/registro">
                <mat-icon>person_add</mat-icon>
                <span class="nav-caption">Registro</span>
            </a>
            <a mat-list-item routerLink="/login" (click)="sidenav.close()">
                <mat-icon>input</mat-icon>
                <span class="nav-caption">Login</span>
            </a>
            <a mat-list-item routerLink="/perfil">
                <mat-icon>face</mat-icon>
                <span class="nav-caption">Mi perfil</span>
            </a>
            <a mat-list-item routerLink="/login">
                <mat-icon>lightbulb_outline</mat-icon>
                <span class="nav-caption">Ejercicios</span>
            </a>
            <a mat-list-item routerLink="/login">
                <mat-icon>description</mat-icon>
                <span class="nav-caption">Test</span>
            </a>
            <mat-list-item>
                <button mat-icon-button>
                    <mat-icon>power_settings_new</mat-icon>
                    <span class="nav-caption">Salir</span>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div fxHide.xs>
                <a routerLink="/">
                <img class="a-logo" [src]="loadLogo()" alt="">
                </a>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li><a routerLink="/registro">Registro</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/perfil">Mi perfil</a></li>
                    <li><a routerLink="/ejercicios">Ejercicios</a></li>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/login">Test</a></li>
                    <li><button class="logout" (click)="onLogout()" mat-icon-button>Salir</button></li>
                </ul>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
            