span{
    font-size: 1.5rem;
}
.image_font{
    background-image: url('../assets/images/font.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: stretch;
}
mat-sidenav-container, mat-sidenav-content, mat-sidenav{
    height: 100%;
}
mat-sidenav{
    width: 250px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: lightgrey;
}
.navigation-items{
    list-style: none;
    padding: 0;
    margin: 0;
}
.a-logo{
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    width: 75px;
    height: 60px;
}
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}
.logout{
    font-size: 20px;
    height: auto;
    line-height: initial;
}