mat-grid-list{
    height: 300px;
}
mat-grid-tile{
    height: 100%;
}
img.gallo{
    height: 100%;
}
.paragraph{
    margin: 10px;
    width: max-content;
    text-justify: distribute;
    clear: both;
}
img_example{
    clear: both;
}
iframe{
    width:auto;
}