.example-card {
    max-width: 400px;
    margin: auto;
  }
  
  .example-header-image {
    background-image: url('https://www.shareicon.net/download/2016/06/25/786536_people_512x512.png');
    background-size: cover;
  }