<section fxLayout="row" fxLayoutalign="center center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Nombre: Uriel</mat-card-title>
      <mat-card-subtitle>email: urielcamachoh95@gmail.com</mat-card-subtitle>
      <mat-card-subtitle>Tipo: Estudiante</mat-card-subtitle> 
      <mat-card-subtitle>Grado: cuarto</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.shareicon.net/download/2016/06/25/786536_people_512x512.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Progreso:</p>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <hr>
      <p>Sección 1</p>
      <mat-progress-bar color="accent" mode="determinate" value="60"></mat-progress-bar>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Editar</button>
      <button mat-button>Aceptar</button>
    </mat-card-actions>
  </mat-card>
</section>
