<section class="image_font">
  <form #f="ngForm" 
    (ngSubmit)="onSubmit(f)"
      fxLayout="column"
      fxLayoutAlign="center center"
      flexLayoutGap="10px">
      <img class="logo" [src]="loadLogo()" alt="">
      <hr>
    <mat-form-field>
      <input matInput type="text" 
        placeholder="Usuario"  
        ngModel
        name="username" 
        required>
      <mat-error>No debe estar vacío</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" 
        placeholder="email" 
        ngModel
        name="email" 
        #emailInput="ngModel"
        email
        required
        >
      <mat-error *ngIf="emailInput.hasError('required')">No debe estar vacío</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Debe ser una dirección de correo electrónico</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" 
        placeholder="Contraseña"
        ngModel                    
        name="password" 
        minlength="1"
        required>
        <!--<mat-hint>No debe estar vacío</mat-hint>-->
      <mat-error>No debe estar vacío</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" 
        placeholder="Verificar Contraseña"
        ngModel
        name="password2" 
        minlength="1"
        required>
      <mat-error>No debe estar vacío</mat-error>
    </mat-form-field>
    <mat-radio-group [(ngModel)]="rol" name="rol" labelPosition="before">
      <label>Rol:</label>
      <mat-radio-button value="1">Estudiante</mat-radio-button>
      <mat-radio-button value="2">Profesor</mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">¡Registrarme!</button>
  </form> 
</section>